/*
wyattandersen.com website theme
*/

/* Global CSS */
body {
    min-height: 800px;
  	padding-top: 50px;
    font-size: 20px;
    background: url(http://4.bp.blogspot.com/-34qiQSqfgtM/T2jIbsZPgrI/AAAAAAAAAJ4/5Nvw1PcKMB8/s1600/Minneapolis+skyline+merged+edit.JPG); 
    background-repeat: no-repeat; 
    background-position: bottom;
    background-color: #222;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.core-template {
    padding: 40px 15px;
    text-align: center;
    background: url(/assets/crossword.png);
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}

/* About CSS */
.img-headshot {
    width: 180px; 
    height: 180px;
    float: right;
    margin: 0px 15px 0px 15px;
}

/* Resume CSS */
#resume {
    text-align: left; 
    display: none;
}
.resume-section {
    border-bottom: 1px solid #000000;
}