/*
wyattandersen.com website theme
*/

/* Global CSS */
body {
    min-height: 800px;
  	padding-top: 50px;
    font-size: 20px;
    background: url('/assets/minneapolis_skyline.jpg') bottom right no-repeat #0654A7; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-position: bottom;
    background-color: #222;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}
.core-template {
    padding: 40px 15px;
    text-align: center;
    background: url(/assets/crossword.png);
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.a-no-underline {
    text-decoration: none !important;
}
.text-box {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.centered {
    margin-left: auto;
    margin-right: auto;
}

/* About CSS */
.img-headshot {
    width: 180px; 
    height: 180px;
    float: right;
    margin: 0px 15px 0px 15px;
}

/* Resume CSS */
#resume {
    text-align: left; 
    display: none;
}
.section {
    border-bottom: 1px solid #000000;
}
