---
layout: default
group: nav
title: Blog | Wyatt Andersen's on Software Engineering and Project Management
description: Blog posts by Wyatt Andersen on software engineering, tech, Agile, project management, and leadership.
---
<div class="row section">
	<div class="col-md-1">
	</div>
	<div class="col-md-5 text-left">
		<h1>Blog</h1>
	</div>
	<div class="col-md-5 text-right">
		<strong>
			{% include contact.html %}
			<br />
		</strong>
	</div>
	<div class="col-md-1">
	</div>
</div>
<br />
<div class="text-left text-box">
	{% for post in site.posts %}
      <div class='panel'>
        <div class='panel-body'
    	    <strong><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></strong>
    	    <br />
          {{ post.blurb }}
          <a href="{{ post.url | prepend: site.baseurl }}"><I>Read more...</I></a>
        </div>
        <div class='panel-footer text-right'>
          <I>
          {{ post.date | date: "%m.%d.%Y" }}
        </I>
        </div>
      </div>
      <br />
	{% endfor %}
</div>
