Cell: (218) two one three – 2370<br /> 
wandersen02 [at] gmail [dot] com<br />
<a href="https://www.linkedin.com/in/wyattandersen" target="_blank" class="a-no-underline">
	<i class="fa fa-linkedin-square"></i>
</a>
<a href="https://github.com/lostphilosopher" target="_blank" class="a-no-underline">
	<i class="fa fa-github"></i>
</a>
<a href="https://twitter.com/wandersen02" target="_blank" class="a-no-underline">
	<i class="fa fa-twitter"></i>
</a>
<a href="/assets/WyattAndersenResume.pdf" target="_blank" class="a-no-underline">
	<i class="fa fa-file-pdf-o"></i>
</a>