<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">wyattandersen.com</a>
        </div>
        <div class="collapse navbar-collapse nav-bar-text">
            <ul class="nav navbar-nav">
            {% if page.title == 'Home' %}
                <li class="active"><a href="/" class="active">Home</a></li>
            {% else %}
                <li><a href="/" class="active">Home</a></li>
            {% endif %}
            {% for node in site.pages %}
                {% if node.group == 'nav' %}
                    {% if page.url == node.url %}
                        <li class="active"><a href="{{node.url}}" class="active">{{node.header}}</a></li>
                    {% else %}
                        <li><a href="{{node.url}}">{{node.header}}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
