<div id="resume" class="text-left" style="display: none;">	
	<div class="row section">
			<div class="col-md-1">            
		</div>
			<div class="col-md-2">
	        <strong>EDUCATION:</strong>
		</div>
			<div class="col-md-6">
	        <strong>Hamline University ’12</strong><br />
			B.A.   GPA: 3.727   <italics>Cum Laude</italics><br />
			Majors: Physics and Philosophy
		</div>
			<div class="col-md-2">
	        
		</div>    	
			<div class="col-md-1">
		</div>    	
	</div>

	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-2">
	    <strong>TECHNICAL EXPERIENCE:</strong>
		</div>
			<div class="col-md-6">
			<strong>Software Engineer, <I>CaringBridge</I></strong><br />
			<ul>
				<li>Collaborate with a team of engineers, analysts, project managers, and business owners to create protected spaces for users to share and experience love, hope, and compassion</li>
				<ul>
					<li>Service is used by 46 million people every year, and roughly 500,000 per day; all while maintaining high availability </li>
				</ul>
				<li>Design and build a robust AB Testing Suite to be integrated into our existing CMS</li> 
				<li>Upgrade the E-Communications Platform (integrated with SilverPop and PowerMTA) to meet the needs of the newly launched version of our product </li> 
				<li>Sync the financial BI data in our database with 3rd party sources (Results Plus, Charity Web, Pursuant)</li>
				<li>Turned out numerous bug fixes (200+ according to GitHub)</li> 
				<li>Practiced with TDD and unit tests (in PHPUnit), and worked on improving our codebase's readability, modularization, and reliability</li>
				<li>Participated in architectural and product strategy meetings</li>
				<li>Created technical and non-technical documentation through our wiki system</li>
				<li>Attended conferences and meet ups including Zend Con, Midwest PHP, Minnebar, Startup Weekend EDU, and a local JavaScript user group </li>
				<li>Languages: <I>PHP, HTML, JavaScript/jQuery, CSS/SASS, MongoDB, Bash</I></li>
				<li>Utilize: <I>Zend Framework 2 (MVC), CentOS 6, Apache 2, Vagrant, Composer, Jenkins, Twitter Bootstrap 3, GitHub, Agile Development</I></li>
			</ul>
		</div>
		<div class="col-md-2 text-right">
			2013-Present
		</div>    	
		<div class="col-md-1">
		</div>    	
	</div>

	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-2">
	        <strong>ADDITIONAL EXPERIENCE:</strong>
		</div>
		<div class="col-md-6">
			<strong>Vice President, <I>Hamline Undergraduate Student Congress</I></strong>
			<ul>
				<li>Chaired the General Assembly, planned events, and led initiatives that resulted in an increase in student involvement, greater government effectiveness, and winning an award for Student Leader of the Year</li>
			</ul>
		</div>
		<div class="col-md-2 text-right">
	        2011-12
		</div>    	
		<div class="col-md-1">
		</div>    	
	</div>

	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-6">
			<strong>Phoning Program Coordinator, <I>Hamline University Admissions Office</I></strong><br />
			<ul>
				<li>Recruit, hire, and train students to become proficient communicators, and ambassadors for the Hamline experience – 2011 and 2012 saw record setting application numbers and enrollment</li>
			</ul>
		</div>
		<div class="col-md-2 text-right">
	        2010-12
		</div>    	
		<div class="col-md-1">
		</div>    	
	</div>
	<div class="row">
	    <div class="col-md-1">
	    </div>
	    <div class="col-md-2">
	    </div>
	    <div class="col-md-6">
	        <strong>Hamline Experience Coordinator, <I>Hamline University Admissions Office</I></strong>
	    </div>
	    <div class="col-md-2 text-right">
	        2009-10
	    </div>      
	    <div class="col-md-1">
	    </div>      
	</div>  	
	<div class="row">
	    <div class="col-md-1">
	    </div>
	    <div class="col-md-2">
	    </div>
	    <div class="col-md-6">
	        <strong>Tour Guide, <I>Hamline University Admissions Office</I></strong>
	    </div>
	    <div class="col-md-2 text-right">
	        2008-09
	    </div>      
	    <div class="col-md-1">
	    </div>      
	</div>

	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-6">
			<strong>President, <I>Theta Chi Fraternity - Beta Kappa Chapter</I></strong><br />
			<ul>
				<li>Led the chapter into its most successful period in recent history including nearly doubling membership, cutting accounts receivable by 50%, and dramatically elevating our campus visibility and reputation</li>
			</ul>
		</div>
		<div class="col-md-2 text-right">
	        2010
		</div>    	
		<div class="col-md-1">
		</div>    	
	</div>		

	<div class="row section">
		<div class="col-md-9">            
		</div>
		<div class="col-md-2 text-right"> 
			<a href="#" onclick="$('#resume').toggle();">Close</a>           
		</div>			
	</div>	
</div>